* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: cursive sans-serif;
}

.logo {
  width: 50px;
  height: 50px;
  object-fit: cover;
  /* background-color: red; */
}

header {
  background-color: aliceblue;
  padding: 10px 20px;
}
nav {
  display: flex;
  justify-content: space-evenly;
}

.menu-list {
  display: flex;
  align-items: center;
  gap: 2em;
}

.menu-list li a {
  /* font-size:  */
  font-size: 1.2em;
}

.btn-icon {
  display: flex;
  align-items: center;
  gap: 1em;
}
.login {
  padding: 14px 20px;
  border-radius: 10px;
  background-color: aliceblue;
  border: none;
  border: thin solid black;
}

.btn-icon button a {
  color: 3222;
  font-size: 1.2em;
  font-weight: 600;
}

.fa-bars {
  display: none;
  font-size: 2em;
}

/** --header-media query */

@media screen and (max-width: 667px) {
  .logo {
    width: 50px;
  }
  .menu-list {
    display: none;
  }
  .btn-icon {
    display: block;
  }
  .fa-bars {
    display: block;
  }
  nav {
    justify-content: space-between;
  }
  .login {
    display: none;
  }
}
